@charset "utf-8";
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.cdnfonts.com/css/montserrat');

* {
    text-decoration: none;
}
.noto {
    font-family: 'Noto Sans Korean', sans-serif;
}

body {
    position: relative;
    font-family: 'NotoSans-Light', '맑은 고딕', 'Malgun Gothic', sans-serif;
    font-size: 16px;
    color: #555;
    line-height: 1;
    letter-spacing: -0.6px;

}

#wrap {
    width: 100%;
    margin: 0 auto;
}

#all_wrap {
    width: 100%;
    height: 100px; /* 높이 100px로 고정 */
    max-width: 1800px;
    line-height: 100px;
    display: flex;
}

.logo {
    width: 20%;
    height: 100%; /* 높이 100px로 고정 */
    line-height: 100px;
    align-items: center;
    /* transform: translate(40px, 18px); */
    background-color: yellow;
}
.nav {
    width: 60%;
    height: 100%;
    margin: 0;
}
.util {
    display: flex;
    width: 20%;
    height: 100px;
    align-items: center;
    font-family: 'noto sans korean', sans-serif;
    font-weight: 280;
}
.util > li {
    padding: 0 2rem;
    border-right: 1px solid #ccc;
    height: 20px; /* 원하는 높이로 조정 */
    align-items: center;
}

.util > li:last-child {
    border-right: none; /* 마지막에는 구분선 제거 */
    padding-right: 0;
}

.lang {
    font-weight: 700;
}

.mall {
    transform: translateY(-8px);
}
#all_wrap::after {
    content: "";
    width: 100%;
    height: 0px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 1;
    transition: all 400ms;
}
#all_wrap.on::after {
    height: 590px;
}

#swiper {
    width: 100vw;
    height: 100vh;
    background-color: #d9d9d9;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.swiper-wrapper {
    display: flex;
}

.title {
  font-family: 'Montserrat', 'NotoSans-Light', sans-serif;
  font-size: 240px;
  font-weight: bolder;
  display: flex;
  /* color: #919191; */
}

.section1 {
  width: 100%;
  min-height: 1169px;
  margin-top: 0;
  background: green;
  display: flex;            /* flex로 변경 */
  flex-direction: column;   /* 세로 정렬 */
  align-items: center;      /* 가로 중앙정렬 */
  text-align: center;
  color: #fff;
}

.section2 {
  width: 100%;
  min-height: 2043px;
  margin-top: 0;
  background: #ffffff;
  display: flex;            /* flex로 변경 */
  flex-direction: column;   /* 세로 정렬 */
  align-items: center;      /* 가로 중앙정렬 */
  text-align: center;
  color: #919191;
} 
.section3 {
  width: 100%;
  min-height: 1619px;
  margin-top: 0;
  background: #a6ecd4;
  display: flex;            /* flex로 변경 */
  flex-direction: column;   /* 세로 정렬 */
  align-items: center;      /* 가로 중앙정렬 */
  text-align: center;
  color: #919191;
} 

footer{
  width: 100%;
  min-height: 410px;
  background: #bcbbbb;
  display: flex;            /* flex로 변경 */
  flex-direction: column;   /* 세로 정렬 */
  align-items: center;      /* 가로 중앙정렬 */
  justify-content: center;  /* 세로 중앙정렬 */
  text-align: center;
}
/* nav */
.nav {
    z-index: 1000;
}
.nav > ul {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
.nav > ul > li {
    position: relative;
}
.nav > ul > li > a {
    display: inline-block;
    padding: 0px 52px;
  /* 추가 */
    color: #333;
    line-height: 100px;
    font-family: 'Noto Sans-Bold', sans-serif;
    font-weight: bold;
    font-size: min(1.2vw, 18px);
    /* //추가 */
    background-color: #b0b0b0;
}
.nav > ul > li > a:hover {
    background-color: #696969;
}
.nav > ul > li > ul {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    text-align: center;
    padding: 15px 0px 0px;
    display: block;
    height: 0;
    overflow: hidden;
    transition: all 400ms;
}
.nav > ul > li > ul > li > a {
    display: inline-block;
    padding: 10px 0px;
    width: 100%;
    color: #666;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: min(1vw, 16px);
}
.nav > ul > li > ul > li > a:hover {
    content: '';
    text-decoration-line: underline;
    text-underline-offset: 8px;
    color: green;
}

